<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaomap</string>
		<string>nmap</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자의 위치 기반으로 막걸리존 정보를 제공하기 위해 권한이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>LINESeedKR-Bd.otf</string>
		<string>LINESeedKR-Rg.otf</string>
		<string>LINESeedKR-Th.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
